.btn-add {
    &::before {
        position: absolute;
        width: 0;
        height: 100%;
        left: 0;
        top: 0;
        content: '';
        background-image: linear-gradient(
            64.3deg,
            rgba(254, 122, 152, 0.81) 17.7%,
            rgba(255, 206, 134, 1) 64.7%,
            rgba(172, 253, 163, 0.64) 112.1%
        );
        transition: all 0.3s ease-in-out;
    }
    &:hover::before {
        width: 100%;
        border-radius: 10px;
        border: 2px solid #fff;
        z-index: -1;
    }
    &:hover .text-add {
        color: #fff;
    }
    &:hover{
        z-index: 1;
    }
}
